<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Run Node.js File -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- Root request loads index.html -->
        <rule name="RootToIndexHtml" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="./index.html" />
        </rule>

        <!-- Allow static content -->
        <rule name="AllowStaticFiles">
          <match url="(.*)\.(html|js|css|png|jpg|svg|json)$" />
          <action type="None" />
        </rule>

        <!-- Send everything else to Node server -->
        <rule name="SendToNode">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
    <webSocket enabled="false" />

  </system.webServer>
</configuration>
